
<!DOCTYPE html>
<html dir="ltr" lang="zh-CN" ng-app="app" ng-controller="Ctrl">
{%
local ck = require "resty.cookie"
local cookie, err = ck:new()
if not cookie then
ngx.log(ngx.ERR, err)
return
end
local lang, err = cookie:get("lang")
if not lang then
lang="cn"
local param = { key = "lang", value = lang, path = '/', max_age = 60 * 60 * 24 * 365 }
cookie:set(param)
end

--lang="cn"
--local param = { key = "lang", value = lang, path = '/', max_age = 60 * 60 * 24 * 365 }
--cookie:set(param)

context.lang = lang
context.otherLang = lang == "en" and "cn" or "en"
%}
<head>
    <meta charset="utf-8">
    <!-- v13606 -->
    <title></title>

    <link rel="shortcut icon" type="image/x-icon" href="//theme.zdassets.com/theme_assets/2061195/110a43ce02fdf6edcef375a46a29b4e488bfe5bb.png" />

    <!--[if lt IE 9]>
    <script>
        //Enable HTML5 elements for <IE9
        'abbr article aside audio bdi canvas data datalist details dialog \
        figcaption figure footer header hgroup main mark meter nav output \
        progress section summary template time video'.replace(/\w+/g,function(n){document.createElement(n)});
    </script>
    <![endif]-->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <link rel="stylesheet" type="text/css" href="{+resources+}/dist/css/common/reset.css">
    <link rel="stylesheet" type="text/css" href="{+resources+}/dist/css/nance//global.css">
    <link rel="stylesheet" type="text/css" href="{+resources+}/dist/css/nance//trade.css">
    <link rel="stylesheet" type="text/css" href="{+resources+}/dist/css/news_list.css">
    <link rel="stylesheet" type="text/css" href="{+resources+}/dist/css/common/style.css">
    <script src="{+resources+}/dist/js/angular.min.js"></script>
    <style>

        .article-list > .article-list-item {
        // text-align: left;
        }
        .article-list > .article-list-item > a{
            display: block;
            text-align:left;
        }
        .header {
            max-width:4000px;

        }
        .header > .container {
            height: 48px;
        }

        .section-container {
            position: relative;
        }

        .section-content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }

    </style>
</head>
<body class="">
{(tpl/common/news_header.html)}

<main role="main" style="height: 800px;" ng-controller="allCtrl">
    <div class="container-divider"></div>
    <div class="container">
        <nav class="sub-nav">
            <ol class="breadcrumbs">
                <li title="Bibox">
                    <a href="/news" target="_self">Bilaxy</a>
                </li>
                <li >
                    <a href="/news/all?type=\{{type}}" target="_self" ng-bind="title"></a>
                </li>
            </ol>
            <form role="search" class="search"  action="/news/search" accept-charset="UTF-8" method="get">
                <input type="search" name="keyWord"  placeholder="\{{lang.search}}" autofocus="autofocus"  />
            </form>

            <!--<form role="search" class="search" data-search="" action="/hc/zh-cn/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" /><input type="search" name="query" id="query" placeholder="搜索" aria-label="搜索" /></form>-->
        </nav>

        <div class="section-container">
            <section class="section-content">
                <header class="page-header">
                    <h1 ng-bind="title">
                    </h1>
                </header>
                <ul class="article-list">
                    <li class="article-list-item " ng-repeat="news in allNews">
                        {% if lang == 'cn' then %}
                        <a href="/news/detail?id=\{{news.id}}" target="_self" class="article-list-link" ng-bind="news.title"></a>
                        {% else %}
                        <a href="/news/detail?id=\{{news.id}}" target="_self" class="article-list-link" ng-bind="news.enTitle"></a>
                        {% end %}
                    </li>
                </ul>
                <nav class="pagination">
                    <ul>
                        <li ng-class="currency_page == num? 'pagination-current':''"  ng-repeat="num in all_pages" ng-click ="loadList(num)">
                            <span>\{{num}}</span>
                        </li>

                        <li class="pagination-next" ng-click=" loadList(currency_page+1)" ng-if = "totalPage != 1">
                            ›
                        </li>
                        <li class="pagination-last" ng-click=" loadList(totalPage)" ng-if = "totalPage != 1" >»
                        </li>
                    </ul>
                </nav>
            </section>
        </div>
    </div>
</main>
{(tpl/common/footer.html)}
<script src="{+resources+}/dist/js/news/all.js?v={{version}}"></script>

</body>
</html>