<!DOCTYPE HTML>
<html ng-app="app" class="ng-scope" ng-controller="Ctrl">
<head>
    {(tpl/common/include.html)}
    <title>{{param[lang..'_title']}}</title>
    <link rel="stylesheet" href="{+resources+}/dist/css/nance/depositWithdrawal.css">
    <link rel="stylesheet" href="{+resources+}/dist/css/nance/ct.css">
    <style>

    </style>
</head>
<script>
    if(sessionStorage.getItem("uid") == null){
        location.href = "/user/login";
    }
</script>
<div  class="ng-scope">
    {(tpl/common/header.html)}
</div>
<div class="wrap account-tab">
    <div class="container">
        <div class="dw ng-scope" ng-controller="payoutController">
            <div class="container">
                <div class="dw-title ng-binding" ng-bind="lang.withdraw"></div>
                <div class="dw-body f-cb">

                    <div class="f-fl" style="min-height: 785px;">
                        <div class="withdrawBox">

                            <div class="asset-info">
                                <div class="selectBox selectAsset" >
                                    <div class="selectIpt" ng-click="showAssetss()">
                                        <div class="curAssetInfo ng-scope">
                                            <strong class="ng-binding" ng-bind="id | uppercase"></strong>
                                        </div>
                                    </div>
                                    <ul class="scrollStyle" style="display: none">
                                        <li class="filterIpt">
                                            <input type="text" placeholder="\{{lang.enterkey}}" ng-keyup="search($event)">
                                        </li>
                                        <!--<li class="coinInfo ng-scope"-->
                                            <!--ng-repeat="asset in userAssets" ng-if="asset.isWithDraw"-->
                                            <!--ng-click="selectAsset(asset,$event)">-->
                                            <!--<strong class="ng-binding" ng-bind="asset.name"></strong>-<span class="ng-binding" ng-bind="asset.allName"></span>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                                <div  class="">
                                    <table class="curAsset">
                                        <colgroup style="width:120px;"></colgroup>
                                        <colgroup style="width:180px;"></colgroup>
                                        <tbody>
                                        <tr>
                                            <th class="ng-binding" ng-bind="lang.js.payout.frozen"></th>
                                            <td class="ng-binding" ng-bind="wallet.fc ? wallet.fc: '' | number : 6"></td>
                                        </tr>
                                        <tr>
                                            <th class="ng-binding" ng-bind="lang.js.payout.total"></th>
                                            <td class="ng-binding" ng-bind="wallet.a ? wallet.a: '' | number : 6"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="speBox account-tab" >
                                        <form class="withdrawalForm ng-pristine ng-valid" id="withdrawalForm">
                                            <div class="filed" >
                                                <div class="label f-cb" >
                                                    <strong class="ng-binding" ng-bind="lang.sup.wiaddress"></strong>
                                                </div>
                                                <div class="inputGroup">
                                                    <input type="text"   ng-model="address">
                                                </div>
                                            </div>
                                            <div class="filed" style="margin-bottom:24px;margin-top: 20px" >
                                                <div class="label f-cb" style="margin-bottom: 7px">
                                                    <strong class="ng-binding" ng-bind="lang.spread.amount"></strong>
                                                    <!--<span class="f-fr ng-binding" >\{{lang.min}}<strong class="ng-binding"><span ng-bind="params.min"></span><span ng-bind="shortname"></span></strong></span>-->
                                                </div>
                                                <div class="inputGroup">
                                                    <input id="amount" type="text" ng-keyup="calcTotal()" ng-model="amount" style="width: 405px; height: 34px; border: 1px solid #e6e6e6; border-right: none;" class="ng-pristine ng-valid">
                                                    <span class="unit ng-binding" ng-bind="id"></span>
                                                    <div class="available">
                                                        <label class="ng-binding" ng-bind="lang.js.payout.total"></label>
                                                        <span class="ng-binding" ng-bind="wallet.a || 0 | number : 4">0.00000000</span>

                                                    </div>
                                                    <a href="javascript:;" style="position:absolute;top: 30px;right:10px;color: #ff4b33;font-size:12px;text-decoration: underline;float:right;" ng-click="withdrawAll()"
                                                       class="ng-binding" ng-bind="lang.payout.all"></a>
                                                </div>
                                            </div>

                                            <!--<div class="filed" style="margin-bottom:24px;">-->
                                                <!--<div class="label f-cb" style="margin-bottom: 7px">-->
                                                    <!--<strong class="ng-binding" ng-bind="lang.safeword"></strong>-->
                                                <!--</div>-->
                                                <!--<div class="inputGroup">-->
                                                    <!--<input type="text" name="password"  ng-model="safeWord">-->
                                                <!--</div>-->

                                            <!--</div>-->

                                            <div class="filed">
                                                <div class="label f-cb" style="margin-bottom: 7px">
                                                    <strong class="ng-binding" ng-bind="lang.emailCode"></strong>
                                                </div>
                                                <div class="inputGroup" ng-cloak="">
                                                    <input type="text" style="line-height: 32px;width: 288px;" ng-model="code" placeholder="\{{lang.aa}}" />
                                                    <span id="code_btn" class="code_btn" ng-click = "sendCode()" data-cate="inner" ng-cloak="">\{{tip}}</span>
                                                </div>
                                            </div>
                                            <!--<div class="total f-cb ng-binding ng-scope" style="margin-bottom: 27px;margin-top:30px;">-->
                                                <!--\{{lang.fees}}: <strong><span ng-bind="params.feeAmount"></span>+<span ng-bind="params.feeRatio * 100"></span>%</strong>-->
                                                <!--&lt;!&ndash;<span class="f-fr ng-binding">实际到账: <strong ng-bind="realAmount">0.00000000</strong></span>&ndash;&gt;-->
                                            <!--</div>-->
                                            <input style="margin-top:20px;" ng-cloak="" type="button" value="\{{lang.submit}}" ng-click="bindWithdraw()" class="confirm btn btn-orange btn-block" id="btn-withdraw">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="f-fr" style="min-height: 785px;">
                        <div class="lists deposit">
                            <div class="lists-title ng-binding" ng-bind="lang.seest.withdrawre">

                            </div>
                            <ul class="lists-body" ng-cloak="">
                                <li ng-repeat="log in rechargeLogs | orderBy :log.it :'desc' | limitTo:20 "  class="f-cb ng-scope"
                                    ng-class="{true:'grey',false:''}[d.status==2]">
                                    <div class="amount ng-binding" >ID: \{{log.tsid}}</div>
                                    <div class="name ng-binding">\{{lang.entrustTotal}}: \{{log.d ? log.d :0  + log.cid}}</div>
                                    <div class="status" ng-cloak="">
                                        \{{lang.status}}:
                                        <span ng-if="log.ts =='a'"  class="ng-binding gray" >\{{lang.js.bill.dealStatus1}}</span>
                                        <span ng-if="log.ts =='b'"  class="ng-binding yellow" >\{{lang.js.bill.dealStatus2}}</span>
                                        <span ng-if="log.ts =='c'"  class="ng-binding red" >\{{lang.js.bill.dealStatus3}}</span>
                                        <span ng-if="log.ts =='e'"  class="ng-binding green" > \{{lang.js.bill.dealStatus4}}</span>
                                    </div>
                                    <div class="ng-binding" >\{{lang.time}}: \{{log.it | date:'yyyy-MM-dd HH:mm:ss'}}
                                    </div>
                                    <table >
                                        <tbody>
                                        <tr>
                                            <th class="ng-binding" ng-cloak="">\{{lang.sup.address}}:</th>
                                            <td ng-bind="log.dca">
                                                <a class="ng-binding ng-scope"    target="_blank" ng-bind="log.dca"></a>
                                            </td>
                                        </tr>
                                        <!--<tr>-->
                                            <!--<th class="ng-binding">Txid:</th>-->
                                            <!--<td class="ng-scope">-->
                                                <!--<a   target="_blank" class="ng-binding" ng-bind="log.txid">-->
                                                <!--</a>-->
                                            <!--</td>-->
                                        <!--</tr>-->
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                        <nav class="pagination ng-hide" ng-show="rechargeLogs.length>0">
                            <ul style="">
                                <li  ng-repeat="num in all_pages" ng-click ="loadList(num)" ng-class="currency_page == num ? 'pagination-current': ''" >
                                    <span ng-bind="num"></span>
                                </li>

                                <li  ng-click="loadList(currency_page+1)" ng-if = "totalPage > 1">
                                    <span  style="font-size: 20px;line-height: 25px;">›</span>
                                </li>
                                <li ng-click=" loadList(totalPage)" ng-if = "totalPage > 1" ><span  style="font-size: 20px;line-height: 25px;">»</span>
                                </li>
                            </ul>
                        </nav>
                        <div class="nodata ng-scope" ng-if="totalPage == 0">
                            <img src="{+resources+}/dist/images/zups.png">
                            <p class="ng-binding" ng-bind="lang.noRecord"></p>
                        </div>
                    </div>

                    <div class="bk-body account-tab float_win bk-onekey dn" id="float_win" style="top: 323px; left: 26%; display: none;">
                        <div class="bk-tabList">
                            <div class="bk-tabList-hd clearfix">
                                <div class="btn-group bk-btn-group" role="group">
                                    <a class="btn active title" role="button"><span ng-bind="shortname"></span>\{{lang.withdrawAddress}}</a>
                                </div>
                            </div>
                            <div class="bk-tabList-bd text-left clearfix addressform">
                                <i class="iconfont close"></i>
                                <form id="addForm"  method="post" autocomplete="off">
                                    <div >
                                        <label  ><span class="ng-binding" ng-bind="lang.addressName"></span>：</label>
                                        <input type="text"  ng-model="address">
                                    </div>
                                    <div >
                                        <label ><span  class="ng-binding" ng-bind="lang.addressFlag"></span>：</label>
                                        <input type="text"   ng-model="addresstag">
                                    </div>
                                    <div >
                                        <label ><span  class="ng-binding" ng-bind="lang.emailCode"></span>：</label>
                                        <input type="text"  style="width: 165px" ng-model="emailcode">
                                        <span data-cate="inner" class="code_btn" id="code_btn1" ng-bind="lang.send"></span>
                                    </div>
                                    <div >
                                        <a style="" class="btn btn-primary confirm" href="javascript:void(0)" ng-click="confrmAddNewAddress()"><span class="ng-binding" ng-bind="lang.submit"></span></a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="shadow" style="display: none;"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{+resources+}/dist/js/finance/payout.js?v={+versoion+}"></script>
<!-- 底部 -->
{(tpl/common/footer.html)}
</body>
</html>